#router-container {
    width: 50em;
    margin: auto;
    margin-top: 2em;
}

#router-nav-bar {
    width: fit-content;
    margin: auto;
    display: flex;
}

#router-nav-bar a {
    border: 1px solid darkred;
    background-color: bisque;
    padding: 1em;
    margin-left: -1px;
}

#router-main {
    border: 1px solid darkred;
    background-color: bisque;
}

#router-footer {
    border: 1px solid darkred;
    background-color: beige;
}