<div style="margin: auto; width: fit-content; padding-top: 2rem;">
  <canvas
    #game
    width="640"
    height="480"
    style="border: 1px solid black">
  </canvas>
  <br>
  <div style="margin: auto; width: fit-content;">
    <ng-container *ngFor="let slot of slots">
      <div style="display: inline-block; margin: 0.5rem 2rem; text-align: center;">
        <label for="{{slot}}">{{slot}}</label><br>
        <select #thisSlot (change)="placeCard(slot, thisSlot.value)" name="{{slot}}">
          <option selected disable value="none">-- empty --</option>
          <ng-container  *ngFor="let item of cards | keyvalue">
            <option *ngIf="item.value.slot == 'hand' || (thisSlot.value != 'none' && item.value.slot == cards[thisSlot.value].slot)" value={{item.key}}>{{item.key}}</option>
          </ng-container>
        </select>
      </div>
    </ng-container>
  </div>

  <!-- <div>
    <select #test2>
      <option *ngFor="let item of hand" value={{item}}>{{item}}</option>
    </select>
  </div>

  <div>
    <select #test3>
      <option *ngFor="let item of hand" value={{item}}>{{item}}</option>
    </select>
  </div> -->

  <!-- <button (click)="move(slot1.value)">Submit</button> -->
</div>
